<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${team.teamName} + 'の詳細情報'"></h1>
    <ul>
        <li>球団名: <span th:text="${team.teamName}">球団名</span></li>
        <li>本拠地: <span th:text="${team.headquarters}">本拠地</span></li>
        <li>発足: <span th:text="${team.inauguration}">発足年</span></li>
        <li>歴史: <pre th:text="${team.history}">歴史</pre></li>
    </ul>
    <a th:href="@{/team/list}">戻る</a>
</body>
</html>
